# data and log
/data
/logs
/infra/monitoring/grafana/grafana_data
/infra/monitoring/prometheus/prometheus_data

# Sensitive Documents
.env

#Python cache
__pycache__
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.pytest_cache/
.noindex

# Development Tools and Notebook
.ipynb_checkpoints/
.vscode/
.idea/
*.ipynb

# version control
.git
.gitignore

# Docker config
Dockerfile
docker-compose.yml
.dockerignore